.newsletter-form {
  box-shadow: 3px 3px 10px -3px #ddd ;
  display: flex;
  flex-basis: 50%;
  padding: 2.5rem 0;
  position: relative;
}

.newsletter-form::before {
  background: #ffffff
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 20px,
      #ff5a54 20px,
      #ff5a54 40px,
      transparent 40px,
      transparent 60px,
      #3fa9f5 60px,
      #3fa9f5 80px
    );
  top: 0;
}

.newsletter-form::after {
  background: #ffffff
    repeating-linear-gradient(
      135deg,
      #3fa9f5,
      #3fa9f5 20px,
      transparent 20px,
      transparent 40px,
      #ff5a54 40px,
      #ff5a54 60px,
      transparent 60px,
      transparent 80px
    );
  bottom: 0;
}

.newsletter-form::before,
.newsletter-form::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.5rem;
  position: absolute;
  left: 0;
}

.newsletter-form__box {
  width: 50%;
}
